@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}
.register-div{
  padding-top: 200px !important;
}
input , button , textarea{
  border: 1px solid black !important;
}
input[type='file']{
  border : none !important;
}
.spinner-border{
  position: fixed !important;
  z-index: 999;
  text-align:center;
  top: 40%;
}
.profilepic1{
  padding-left: 15px;
  padding-right: 10px;
  font-weight: bold;
  font-size:25px !important;
  background-color: grey;
  border-radius: 50%;
  height:40px;
  width:40px;
  color: white;
  text-align:center !important;
  
}
img{
  border-radius: 5px;
}
.postimage{
   height: 500px;
   width: 100% !important;
   margin-top: 10px;
}
p{
  color: grey;
  margin: 5px !important;
  font-size: 18px;
}
.anticon svg{
  font-size: 18px !important;
}
.profilepic2{
  height: 50px !important;
  width: 50px !important;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: grey !important;
  text-align: center !important;
  font-size : 35px !important;
  font-weight: bold !important;
  color: white !important;
}
.postinprofile{
  height: 200px;
}

.search-users{
  width: '60%'
}
.register-maindiv{
  min-height:100vh !important;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.login-maindiv{
  min-height:100vh !important;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
form{
  background-color: white !important;
  border-radius: 5px !important;
}
.left-title{
  font-size: 80px;
  font-weight : bold !important;
  border-top: 10px solid white;
  color: white !important;
  border-color: tomato !important;
}
.right-title{
  font-size: 80px;
  font-weight : bold !important;
  border-bottom: 10px solid white;
  border-color: yellow;
  color:white
}
@media only screen and (max-width : 500px){

  .postimage{
    height : 200px !important;
  }
  .logotext{
    display: none !important
  }

  .search-users{
    width: '100%'
  }

  .left-title{
    font-size: 30px;
    font-weight : bold !important;
  }
  
}